{% extends 'base.html' %}


{% block title %}Posts{% endblock title %}


{% block content %}
<h1>Posts</h1>
{% for post in post_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text muted">{{ post.subtitle }}</h6>
        <p classs="card-text"> {{ post.body }}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card link">Another link</a>
    </div>
<div>
   {% endfor}
{% endblock content %}








